body 
{
	font-family: 'Roboto', sans-serif;
	background-color: #519183;
}
.Main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Container 
{
	border-radius: 10px;
	width: 250px; 
	background-color: #e0fff9;
	margin: 5px;
	padding: 10px;
}

.Header
{

}

img 
{
	border-radius: 15px;
}

h1
{
	color: #474747;
}

p 
{
	color: gray;
}

.btn 
{
	display: flex;
	justify-content: space-around;
    background: #215c54;
    color: #fff; 
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; 
}

.btn:hover 
{
	color: #5c9990;
}
