@font-face {
	font-family: 'Roboto', sans-serif;
	src: local('Roboto'),
		url('/fonts/Roboto-Regular.ttf') format('truetype');
}
body{
	color:#ba0846;
	
	
 	background: linear-gradient(green, black, black);
   

	font-family: 'Roboto', sans-serif;
}
.container{
	margin:auto; 
	padding:10px; 
	background-color:#474d57;
	width:1200px; 
	height:1405px;
}
.Header{
	margin:15px;
	padding:10px;
	background-color:#e3e3e3;
	height:70px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.main{
	display:flex;
	justify-content:space-between;
}
.minec{
	margin:15px;
	padding:10px;
	padding-top:0px;
	background-color:#e3e3e3;
	width:400px;
	height:425px;
	display: flex;
    flex-direction: column;
	justify-content:center;
	align-items:center;
}
.prerol{
	background-color:#e3e3e3;
	padding:10px;
	margin:15px;
	display: flex;
    flex-direction: column;
	justify-content:center;
	align-items:center;
}
a{
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: grey;
}